body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    width: 300px;
    margin: 0 auto;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
